<h1>RegisterMovie</h1>
<form action="../Movies/RegisterMovie" method="post">
    Tile: <input type="text" name="Title" placeholder="Title"/>
    Genre: <input type="text" name="Title" placeholder="Genre" />
    Run time: <input type="number" step="0.1" name="RunTime" placeholder="Run time" />
    <input type="submit"value="Register Movie"/>

</form>

